.app-data-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.table-title {
  text-align: center;
  margin-bottom: 10px;
}

.datatable-wrapper {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  padding: 10px;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.edit-btn {
  background-color: #3493ff;
  color: white;
}

.delete-btn {
  background-color: #ff6054;
  color: white;
}
