.transactions-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.datatable-wrapper {
  /* width: 80%; */
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Optional: make it responsive on small screens */
@media (max-width: 768px) {
  .datatable-wrapper {
    width: 95%;
  }
}
